{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% endblock %}

{% block body %}

<h1>Hello world</h1>
<h2 class="test-css"></h2>
    <p class="paragraphe">Un paragraphe</p>

    <a href="{{ path('core_registration') }}">Mail</a>

{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}